@font-face {
	font-family: 'ARB70ModernPosterOCT-37DTPW01';
	src: url(../../assets/fonts/ARB70ModernPosterOCT-37DTPW01.woff2) format('woff2'),
	url(../../assets/fonts/ARB70ModernPosterOCT-37DTPW01.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}